<div class="container">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">

<h2>登録情報の変更</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control'%>
  </div>
      <br />

  <div class="field">
    <%= f.label :名前 %><br />
    <%= f.text_field :name, class: "form-control" %>
  </div>
      <br />

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :パスワードの変更 %> <br />
    <%= f.password_field :password, autocomplete: "off" ,class: 'form-control'%>
    <% if @minimum_password_length %>
          <em><i>(<%= @minimum_password_length %> 文字以上にしてください)</i></em>

    <% end %>
  </div>
      <br />

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
  </div>
      <br />

  <div class="field">
    <i><%= f.label :現在のパスワード %> </i><br />
    <%= f.password_field :current_password, autocomplete: "off", class: 'form-control'%>
  </div>

  <div class="field">
    <%=profile_img(@user)if profile_img(@user)%>
    <%=f.file_field :avatar %>
    <%=f.hidden_field :avatar_cashe%>
  </div>

  <div class="actions">
    <%= f.submit "更新", class: 'btn btn-primary btn-block' %>
  </div>
<% end %>

<%= link_to "戻る", :back, class: 'btn btn-default btn-block' %>


<h3>アカウントを削除する</h3>
<p><%= button_to "削除", registration_path(resource_name), data: { confirm: "本当に削除していいですか?" }, method: :delete, class: 'btn btn-danger btn-block' %></p>

  </div>
</div>

<% if @user.provider.blank? %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for : <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br/>
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :current_password %><i>(we need your current password to confirm your changes)</i><br/>
    <%0 f.password_field :current_password, autocomplete: "off", class: "form-control"%>
  </div>

<% end %>
